.center {
    text-align: center;
}

.section {
    padding-left: 10px;
    color: #445;
}

.weui_cells_title {
    margin-top: .6em;
    margin-bottom: .5em;
    color: #555;
    font-size: 18px;
}


/* Arrow */

.iSlider-arrow,.iSlider-arrow-prev,.iSlider-white {
    position: absolute;
    width: 3em;
    height: 3em;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: 0 auto;
    border-top: 2px solid #31c7fb;
    border-right: 2px solid #31c7fb;
    z-index: 10000;
    opacity: 0.8;
    -webkit-animation: nextPage 1.2s linear infinite;
}
.iSlider-white {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.iSlider-arrow-prev{
    bottom: 1%;
    -webkit-animation: prevPage 1.2s linear infinite;
}

@-webkit-keyframes nextPage {
    0% {
        -webkit-transform: translateY(40px) rotate(-45deg);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateY(20px) rotate(-45deg);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateY(10px) rotate(-45deg);
        opacity: 0;
    }
}

@-webkit-keyframes prevPage {
    0% {
        -webkit-transform: translateY(-40px) rotate(135deg);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateY(-20px) rotate(135deg);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateY(-10px) rotate(135deg);
        opacity: 0;
    }
}
.media-wrap {
    overflow: hidden;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10000;
    width: 6.5em;
    height: 6.5em;
    font-size: 16px;
}

.media-wrap span {
    float: left;
    height: 4em;
    width: 4em;
    line-height: 3rem;
    color: #fff;
    font-size: 1em;
}

.media-wrap i {
    width: 2.5em;
    height: 2.5em;
}

.music-btn,.music-btn-white {
    float: right;
    width: 1.8rem;
    height: 1.8rem;
    background: url('../img/music-icon.png');
    background-size: cover;
}
.music-btn-white {
    background: url('../img/audio.jpg');
    background-size: cover;
}
.music-btn.on {
    -webkit-animation: reverseRotataZ 1.2s linear infinite;
}

@-webkit-keyframes reverseRotataZ {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
    }
}

#musicBtnTxt{
	color:#455;
	margin-top:-10px;
}

.title{
    color:#334;
    font-size:3.5em;
}

.answer-num{
  font-family: "SentyZHAO";
}

.lg-component-img{
   position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 54px;
    border-width: 0px;
    background-repeat:no-repeat;
    background-position:center center;
}

.headerTitle {
  font-family: "SentyZHAO";
  font-size:60px;
  font-color:#e6e6e6;
}

.headerSubTitle {
  font-family: "SentyZHAO";
  font-size:30px;
}

.headerSubTitle h1{
    font-size:20px;
}

.weui_cells_dark,.weui_cells_dark .weui_cells_checkbox,.weui_cells_dark .weui_cell:active,.weui_cells_dark:active{
    background-color: transparent;
    color:#e6e6e6;
}

.weui_cells_dark:active{
    background-color: transparent;
}

.weui_cells_dark .weui_cell:active{
    background-color: rgba(20,33,50,0.8);
    color:#e6e6e6;
}

.weui_cells_dark:before,.weui_cells_dark:after {
  border-top: 1px solid #aaa;
  color: #aaa;
}
.white-font {
    color: #fff;
}

.blue-font {
    color: #445;
}

.background_dark{
    background-image: url(../img/welcome.png);
}