::-webkit-scrollbar{width:12px;height:12px}::-webkit-scrollbar-button:vertical{display:none}::-webkit-scrollbar-track:vertical{background-color:#000}::-webkit-scrollbar-track-piece{background:#FFF}::-webkit-scrollbar-thumb:vertical{background-color:#8E8E8E;border-radius:5px}::-webkit-scrollbar-thumb:vertical:hover{background-color:#3B3B3B}::-webkit-scrollbar-corner:vertical{background-color:#535353}::-webkit-scrollbar-resizer:vertical{background-color:#FF6E00}

.chart{
	height:800px;
	width:100%;
}

.bs-docs-masthead, .bs-docs-header{
	background-color:#445;
	background-image: linear-gradient(to bottom,#203247 0,#203247 100%);
}