	/* Fixed header and footer.
	* --------------------------------------- */
	.header{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #343b44;
		opacity: 0.9;
		z-index:9;
		text-align:right;
		color: #959595;
		top:0px;
	}
	.menu li {
		display:inline-block;	
		color: #fafafa;
		margin: 5px;
		-webkit-border-radius: 5px;
            border-radius: 5px;
	}
	/*.menu li.active{
		background:#666;
		background: #3d4957;
		color: #fff;
	}
	.menu li:hover{
		background: #3d4957;
	}
	.menu li.active a:hover{
		color: #32a1cf;
		font-weight:700;
	}*/
	.menu li a{
		text-decoration:none;
		color: #959595;
	}
	.menu li a,
	.menu li.active a{
		padding: 10px 20px;
		display:block;
	}
	.menu li.active a,.menu li a:hover{
		color: #32a1cf;
	}
	.menu{
		position:fixed;
		top:0;
		left:0;
		height: 25px;
		z-index: 70;
		width: 100%;
		padding: 0;
		margin:0;
	}

	.section{
		text-align:center;
		overflow:hidden;
	}
	.wrap{
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		padding: 60px 0;
	}

	/*screen resolutions between 620px and 800px*/
	@media all and (min-width: 620px) and (max-width: 800px){
		#section1 .imgsContainer{
			margin-top: -278px;
			margin-left: -685px;
			width: 647px;
			height: 563px;
		}
	}

	/*screen resolutions lower than 620px*/
	@media all and (max-width: 620px){
		#section1 .imgsContainer{
			margin-top: -208px;
			margin-left: -516px;
			width: 534px;
			height: 464px;
		}
	}